.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label {
  margin-bottom: 10px;
}

.input {
  margin-right: 10px;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-title {
  padding: 25px;
  margin: 10px;
}

.city-button {
  padding: 15px;
  margin: 10px;
}

.ui.primary.button.design {
  width: 70%;
  font-size: 1.5rem;
}

.weather-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.weather-card {
  padding: 10px;
  margin: 10px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
}



.App-link {
  color: #61dafb;
}


